*{
    margin: 0;
}
body{
    background-image: url('/assests/images/landing-bg.jpg');
    background-color: rgba(0, 0, 0, 0.895);
    height: 800px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 1000px;
    border-bottom-right-radius: 100px;    
}
.landing-page{
    height: 800px;
    position: relative;
    overflow: hidden;
}
.hero-name{
    font-size: 110px;
    font-weight: bolder;
    color: rgb(255, 0, 234);
    margin-left: 90px;
    padding-top: 200px;
    margin-bottom: -50px;
    bottom: 0;
    text-transform: uppercase;
}
.portfolio{
    color: rgba(4, 255, 238, 0.579);
    font-size: 230px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}
.hero-img{
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-img img{
    position: absolute;
    margin-top: -850px;
    filter: grayscale();
    animation-name: hero;
    animation-duration: 1s;
    animation-timing-function: linear;
}
/* @keyframes hero {
    100% { transform: translatey(0); }
    0% { transform: translatey(40%); }
} */

.about{
    background-color: white;
    color: black;
    height: 400px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    padding: 20px;
    justify-content: center;
}
.about-details{
    margin-top: 100px;
    margin-left: 20px;
}
.about h1{
    font-size: 50px;
}
.about-name{
    color: orangered;
}
.about-details button{
    background-color: greenyellow;
    font-weight: bold;
    border: none;
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
}

.projects-heading{
    width: 80%;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    padding-bottom: 30px;
    justify-items: center;
    font-size: 20px;
    color: rgb(255, 0, 170);
    text-transform: uppercase;
    border-bottom: 2px solid white;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    background-color: rgba(107, 107, 107, 0.306);
    /* border: 1px solid rgba(21, 161, 255, 0.753); */
    margin: 50px 50px;
    border-radius: 25px;
    width: 350px;
    justify-items: center;
}
.heading{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.heading h1{
    font-size: 25px;
    color: white;
}
.project-img{
    margin: 10px;
}
.project-img img{
    border-radius: 25px;
}
.view-button{
    display: flex;
    justify-content: center;
}
.view-button button{
    width: 200PX;
    height: 40px;
    background-color: rgb(0, 199, 206);
    font-weight: bolder;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    
}

@media(max-width:768px){
    body{
        background-image: url('/assests/images/landing-bg.jpg');
        background-color: black;
        height: 800px; 
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        height: 500px;
    }
/* landing page sections */
    .hero-name{
        font-size: 30px;
        margin-left: 25px;
        padding-top: 60px;
        margin-bottom: -50px;
        bottom: 0;
        text-transform: uppercase;
        }
    .portfolio{
        font-size: 65px;
        font-weight: bolder;
        margin-top: 35px;
        text-transform: uppercase;
        text-align: center;
        }
    .hero-img{
        margin-top: -380px;
        }
    .hero-img img{
        position: absolute;
        width: 300px;
        filter: grayscale();
        animation-name: hero;
        animation-duration: 0.5s;
        /* animation-timing-function: linear; */
        }

/* about page sections */
    .about{
        height: 150px;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        padding: 20px;
        justify-content: center;
        }
    .about-details{
        margin-top: 35px;
        margin-left: 5px;
        }
    .about h1{
        font-size: 15px;
        }
    .about-img img{
        width: 150px;
        }
    .about button{
        padding: 5px 15px 5px 15px;
        margin-top: 10px;
        }

/* projects page sections */
    .projects-heading{
        width: 80%;
        margin-top: 30px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10px;
        padding-bottom: 15px;
        justify-items: center;
        font-size: 10px;
        color: white;
        text-transform: uppercase;
        border-bottom: 1px solid white;
    }
    .projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}